[submodule "frontend-server"]
	path = ropc-backend
	url = git@github.com:unitz007/ropc-frontend.git
	branch=main
[submodule "frontend-server"]
	path = ropc-frontend
	url = git@github.com:unitz007/ropc-frontend.git
	branch=main
