[submodule "frontend-server"]
	path = frontend-server
	url = git@github.com:unitz007/ropc-frontend.git
[submodule "backend-server"]
	path = backend-server
	url = git@github.com:unitz007/ropc-backend.git
	branch=main
